{% extends 'base.html.twig' %}

{% block body %}
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Numéro</th>
                <th>Nom du billy</th>
                <th>Caractère du billy</th>
                <th class="d-flex justify-content-center">actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.name }}</td>
                <td>Débrouillard</td>
                <td class="d-flex justify-content-around">
                    <a class="text-danger" href="{{ path('app_game_delete', {'id': game.id}) }}">Supprimer la partie</a>
                    <a class="text-primary" href="{{ path('app_game_edit', {'id': game.id}) }}">Reprendre la partie</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="32">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
