$primary: #4a1815;
$secondary: rgb(191, 164, 11);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.ARME {
    background-color: red;
}

.EQUIPEMENT {
    background-color: blue;
}

.OUTILS {
    background-color: green;
}
