$primary: #4a1815;
$secondary: rgb(191, 164, 11);

@import "~bootstrap/scss/bootstrap";

body {
    background-color: lightgray;
}

.ARME {
    background-color: rgb(235, 68, 68);
}

.EQUIPEMENT {
    background-color: rgb(145, 145, 238);
}

.OUTILS {
    background-color: rgb(79, 140, 79);
}
