<footer class="container-fluid bg-black text-light mt-5 sticky-bottom">
	<div class="d-flex flex-column flex-lg-row justify-content-center align-items-center justify-content-lg-evenly">
		<div class="d-flex justify-content-center justify-content-lg-start my-2">
			<a class="text-light" href="{{ path('app_contact') }}">Support</a>
		</div>
		<div class="d-flex flex-column flex-lg-row justify-content-lg-center align-items-center w-100 fs-5">
			<a class="text-light" href=https://www.kisskissbankbank.com/fr/projects/les-aventures-du-pyro-barbare-par-bob-lennon>1ere campagne</a>|
			<a class="text-light" href=https://www.kisskissbankbank.com/fr/projects/la-corne-des-sables-d-ivoire>2eme campagne</a>
		</div>
</footer>