{% extends 'base.html.twig' %}

{% block title %}Page d'aide
{% endblock %}

{% block body %}
<h1 class="d-flex justify-content-center my-4">Page d'aide</h1>
<h5 class="d-flex justify-content-center my-2">Bonjour et bienvenue sur la page d'aide à la navigation du site et la compréhension des règles</h5>
<h2 class="d-flex justify-content-center my-4">Navigation du site</h2>
<h4 class="ms-5 my-3">Les livres</h4>
<div class="col-6 ms-5">Les livres sont écris par bob lenon et paraissent environ tous les deux ans, ils seront ajoutés au site au fur et à mesure de leur parution.
Par ailleurs les liens des campagnes KKBB seront ajoutés dès qu'elles seront lancés</div>
<h4 class="ms-5 my-3">S'inscrire/Se connecter</h4>
<div class="col-6 ms-5">Si vous souhaitez enregistrez vos parties vous pouvez vous inscrire gratuitement en cliquant sur connexion puis sur le lien d'inscription situé sous le formulaire.</div>
<h4 class="ms-5 my-3">Le support</h4>
<div class="col-6 ms-5">Si vous rencontrez des problèmes de navigation, vous pouvez contacter le support technique en cliquant sur le bouton contact de la barre de navigation ou sur le boutton support en bas de page</div>
<h2 class="d-flex justify-content-center my-4">Point règles</h2>
{% endblock %}